
  /* Estilo Geral */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f6f6;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f1f1;
    color: rgb(8, 8, 8);
    padding: 10px 20px;
  }

  .logo img {
    vertical-align: middle;
  }

  .logo span {
    font-size: 20px;
    margin-left: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  nav li img {
    width: 20px;
    margin-right: 5px;
  }

  nav li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  
  }

  /* Banner */
  .banner {
    background-color: #F5DEB3;
    padding: 20px;
    text-align: center;
  }

  .banner p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .search-bar {
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-right: 1px;
  }

  .search-button {
    background-color: #bbc5bc;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .menu a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
  }

  /* Formulário de Login */
  .login-container {
    background-color: white;
    padding: 20px 30px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }

  .input-wrapper img {
    width: 20px;
    margin-right: 10px;
  }

  .input-field {
    border: none;
    outline: none;
    width: 100%;
  }

  .button-container button {
    background-color: #bbc5bc;
    color: rgb(46, 44, 44);
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  .button-container button:hover {
    background-color: #717271;
  }

  nav li a:hover {
    background-color:rgba(200, 200, 200, 0.3);
    border-radius: 5px;
    padding: 10px;
  }

  /* Rodapé */
  footer {
    text-align: center;
    padding: px;
    background-color: #333;
    color: white;
  }

  footer img {
    width: 750px;
  }

